<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "snfer", root_path, id: "logo" %>
      <div class="nav-collapse collapse">
        <% if sign_in? %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to user_name_or_email(current_user), current_user %></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            </ul>
          </nav>
        <% else %>
          <%= form_for(:session, url: '/signinup', html: {class: "navbar-form pull-right"}) do |f| %>
            <%= f.email_field :email, id: "email", placeholder: "email", class: "span2"  %>
            <%= f.password_field :password, id: "Password", placeholder: "password", class: "span2" %>
            <%= f.submit "Sing-in/up", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>